<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody *ngFor="let student of students">
      <tr>
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.score}}</td>
      </tr>
      
    </tbody>
  </table>

<div>
  <input type="text" [(ngModel)]="message">
  <button (click)="saveMessage()">Lưu</button>
  <p>{{savedMessage}}</p>
</div>